<nav class="navbar navbar-default navbar-static-top" role="navigation" id="nav-adp">
    <div class="container-fluid">
        <div class="navbar-header">
            <h1 class="text-center" id="name">Healthcare.gov</h1>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{active: tab == 'blog'}"><a href="#/">Blog</a></li>
                <li ng-class="{active: tab == 'glossary'}"><a href="#glossary">Glossary</a></li>
                <li ng-class="{active: tab == 'contact'}"><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>